@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@font-face {
    font-family: "Digital-7";
    src: url("./assets/font/Digital-7.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1c1c1c;

}

.calculator{
  padding: 60px;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45), 0 10px 20px rgba(0, 0, 0, 0.35), 0 2px 6px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(255, 255, 255, 0.03) inset;
  background: #1c1c1c;
  background: linear-gradient(180deg, #f2f2f2 0%,#d9d9d9 20%, #b3b3b3 50%, #8c8c8c 80%, #555 100%);
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100%;
}

button{
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 30px 400px rgba(0, 0, 0, 0.15);
}


.clear{
  grid-column: span 2;
  color: brown;
}
.clear,
.clear_entry,
.doble{
  background-color: #003366;
}

.clear:active,
.clear_entry:active,
.doble:active{
  background-color: #4682B4;
}

.doble{
  grid-column: span 2;
  color: white;
}

textarea{
  width: 87%;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #121212;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: "Digital-7", monospace;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: right;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

textarea::-webkit-scrollbar-track {
  background: #444;
  border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.number{
  font-family: 'Orbitron', sans-serif;
  background-color: #ddd;
}
.number:active{
  background-color: white;
}

.operator{
  color: whitesmoke;
  background-color: #1565C0;  
}